<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
   <h4 class="mainTitle no-margin" translate="sidebar.nav.promotions.MAIN"> Create New </h4>
   <span class="mainDescription"></span>
   <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw">
   <div ng-controller="editCardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="panel panel-white">
               <div class="panel-body">
                  <div class="row">
                     <form name="Form" id="form" novalidate method="POST" ng-submit="editCardFrom.submit(Form)">
                        <div class="col-md-12">
                           <fieldset>
                              <legend>
                                 Card Details
                              </legend>
                              <div class="col-md-6">
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group" >
                                             <div flow-init flow-name="obj.flow" 
                                                flow-files-added="processFiles($files)">
                                                <div class="user-image">
                                                   <div class="thumbnail">
                                                      <img ng-src="assets/images/default-user.png" style="max-width: 100%; width:100%" alt="" ng-if="!obj.flow.files.length && noImage" width="300">
                                                      <img ng-src="{{promotionalImage}}" style="max-width: 100%; width:100%" alt="" ng-if="!obj.flow.files.length && !noImage" width="300">
                                                      <img flow-img="obj.flow.files[0]" style="max-width: 100%; width:100%" ng-if="obj.flow.files.length" width="300">
                                                   </div>
                                                   <div class="user-image-buttons" ng-if="obj.flow.files.length">
                                                      <span class="btn btn-primary btn-file">
                                                      <i class="fa fa-pencil"></i>
                                                      <input type="file" flow-btn ng-model="editCardFrom.productContentImage"/>
                                                      </span>
                                                      <span class="btn btn-danger" ng-click="obj.flow.cancel()"> <i class="fa fa-times"></i> </span>
                                                   </div>
                                                   <div class="user-image-buttons" ng-if="!obj.flow.files.length">
                                                      <span class="btn btn-primary btn-file">
                                                      <i class="fa fa-pencil"></i>
                                                      <input type="file" flow-btn />
                                                      </span>
                                                      <span class="btn btn-danger" ng-if="!noImage" ng-click="removeImage()"><i class="fa fa-times"></i></span>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%" />
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group" ng-class="{'has-error':Form.promotionalHeadline.$dirty && Form.promotionalHeadline.$invalid, 'has-success':Form.promotionalHeadline.$valid}">
                                             <label> Promotional Headlines <span class="symbol required"></span> </label>
                                             <textarea placeholder="Promotional Headlines" id="promotionalHeadline" class="form-control" name="promotionalHeadline" ng-model="editCardFrom.promotionalHeadline" required="true" rows="5" wm-block wm-block-length="150"></textarea>
                                             <span class="error text-small block" ng-if="Form.promotionalHeadline.$dirty && Form.promotionalHeadline.$invalid">This field is required.</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%" />
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group" ng-class="{'has-error':Form.promotionalText.$dirty && Form.promotionalText.$invalid, 'has-success':Form.promotionalText.$valid}">
                                             <label> Promotional Text <span class="symbol required"></span> </label>
                                             <textarea placeholder="Promotional Text" id="promotionalText" class="form-control" name="promotionalText" ng-model="editCardFrom.promotionalText" required="true" rows="5" wm-block wm-block-length="200"></textarea>
                                             <span class="error text-small block" ng-if="Form.promotionalText.$dirty && Form.promotionalText.$invalid">This field is required and enter 40 character only.</span>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-12">
                                          <div class="form-group" ng-class="{'has-error':Form.disclaimer.$dirty && Form.disclaimer.$invalid, 'has-success':Form.disclaimer.$valid}">
                                             <label> Disclaimer <span class="symbol required"></span> </label>
                                             <textarea placeholder="Disclaimer" id="disclaimer" class="form-control" name="disclaimer" ng-model="editCardFrom.disclaimer" required="true" rows="5" wm-block wm-block-length="200"></textarea>
                                             <span class="error text-small block" ng-if="Form.disclaimer.$dirty && Form.disclaimer.$invalid">This field is required.</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <button class="btn btn-yellow next-step btn-wide pull-right">
                                 Submit
                              </button>
                           </fieldset>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>