<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO</h4>
	<div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: FIRST SECTION -->
<div class="container-fluid container-fullw padding-bottom-10" ng-controller="productAnalyticsCtrl">
	<div class="row">
		<div class="col-sm-6 col-lg-3" ng-repeat="productObj in topThreeProducts">
			<div class="panel panel-white no-border">
				<div class="panel-body no-padding">
					<div class="space10 padding-15">
						<h5 class="text-bold text-extra-small text-dark-transparent text-uppercase no-margin">{{productObj.contentName}}</h5>
					</div>
					<div class="margin-10">
					<canvas class="chart chart-bar height-100" ng-if="data.length > 0" chart-data="data[productObj.contentId]" chart-options="options" chart-labels="labels[productObj.contentId]" chart-series="series" chart-colours="colors"></canvas>
					</div>
					<div>
						<p class="margin-10" ng-show="productObj.noOfDays >= 0">
							<span class="text-light margin-right-5">Time Remaining:</span><span>{{productObj.noOfDays}}D</span>
						</p>
						<p class="margin-10" ng-show="productObj.noOfDays < 0">
							<span  class="text-light margin-right-5"><b>Expired</b></span>
						</p>
						<p class="margin-10">
							<span class="text-light margin-right-5"><i class="fa fa-thumbs-o-up"></i> Likes:</span><span>{{productObj.likes}}</span>
						</p>
						<p class="margin-10">
							<span class="text-light margin-right-5"><i class="fa fa-heart"></i> Favorites:</span><span>{{productObj.favorites}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FIRST SECTION -->