<script type="text/ng-template" id="ng-table/filters/myOwnFilter.html">
  <input type="text" name="{{name}}" data-ng-model="params.filter()[name]" data-ng-if="filter == 'myOwnFilter'" placeholder="Search For Promotions" class="input-filter form-control"/>
</script>
<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.promotions.MAIN"> Promotions </h4>
	<span class="mainDescription"></span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<style>
    flippy {
  float: left;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
}
flippy-front {
  position: absolute;
  z-index: 900;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
flippy-back {
  position: absolute;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
flippy.flipped flippy-front {
  z-index: 900;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
flippy.flipped flippy-back {
  z-index: 1000;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -moz-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

flippy.fancy {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 400px;
}
flippy.fancy img {
  width: 100%;
}
flippy.fancy flippy-front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
flippy.fancy flippy-front.flipped {
  border-color: #eee;
  /*background: #333;*/
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
flippy.fancy flippy-back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
flippy.fancy flippy-back.flipped {
  /*background: #80868d;*/
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

</style>
<div class="container-fluid container-fullw">
	<div ng-controller="promotionCtrl">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<nav id="cl-effect-1" class="links cl-effect-1 pull-right">
	                            	<a ui-sref="app.createNew" style="color:#eeb424" >Create New </a>
	                        	</nav>
							</div>
						</div>
						<div class="table-responsive">
                            <table ng-table="tableParams" show-filter="true" class="table export-table">
                                <tbody ng-repeat="c in $data">
                                    <tr ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'Promotion Name'" filter="{ 'promoName': 'myOwnFilter' }" sortable="'promoName'">{{c.promoName}}</td>
                                        <td class="rowTd" data-title="'Start Date'" sortable="'startDate'">{{ c.startDate | date : "MM/dd/yyyy" }}</td>
                                        <td class="rowTd" data-title="'End Date'" sortable="'endDate'">{{ c.endDate | date : "MM/dd/yyyy" }}</td>
                                        <td class="rowTd" data-title="'Likes'" sortable="'likesCount'">{{c.likesCount}}</td>
                                        <td class="rowTd" data-title="'Favorites'" sortable="'favoritesCount'">{{c.favoritesCount}}</td>
                                        <td class="rowTd">
                                            <a href="#/app/cloneCard/{{c.promoId}}" style="color:#eeb424" uib-tooltip="Repost"><i class="fa fa-copy"></i></a></td>
                                        <td class="rowTd">
                                            <a href="#/app/editCard/{{c.promoId}}" style="color:#eeb424"><i class="fa fa-edit"></i></a></td>
                                        <td class="rowTd">
                                            <a ng-click="promotionPreviewModal(c.promoId)" style="color:#eeb424"><i class="fa fa-eye"></i></a></td>
                                        <td class="rowTd">
                                            <a ng-click="deletePromotion($index, c.productId, 1)" style="color:#eeb424"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="promotionPreviewModalContent.html">
    <div class="modal-body">
        <div class="row">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 padding-right-30">
                                    <h1 style="text-align: center;">Front</h1>
                                    <div style="height: 530px;padding:20px;background-image:url(assets/images/currentOffer1.png);">
                                        <div  align="center" valign="center" style="background-color:#fff;height:100%;padding: 10px;">
                                            <img ng-src="{{promotionalImage}}" alt="" style="max-width: 100%; width:100%" />
                                            <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%" />
                                                <div class="form-group" ng-bind-html="promotionalHeadline" style="font-size: 20px;"></div>
                                       </div>
                                   </div>
                                </div>
                                   <div class="col-md-6">
                                       <h1 style="text-align: center;">Back</h1>
                                       <div style="height: 530px;padding:20px;background-image:url(assets/images/currentOffer1.png);">
                                            <div align="center" valign="center" style="background-color:#fff;height:100%;padding: 10px;">
                                                <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%" />
                                            <div class="form-group" ng-bind-html="promotionalText"></div>
                                                <div class="form-group" ng-bind-html="disclaimer"></div>
                                                <div style="margin-top:200px;" class="form-group" ng-bind-html="operationalDays"></div>
                                          </div>
                                      </div>
                                   </div>
                                </div>
                            </div>
                        </div> -->
                        <flippy
                            class="fancy"
                            ng-click="flip()"
                            flip-duration="800"
                            timing-function="ease-in-out">
                                <flippy-front>
                                   <h1 style="text-align: center;">Front</h1>
                                    <div style="height: 340px;border-style: groove; border:black;border-width: thin;">
                                        <div  align="center" valign="center" style="background-color:#fff;height:100%;padding: 10px;">
                                            <img ng-src="{{promotionalImage}}" alt="" style="max-width: 100%; width:100%;max-height: 50%;" />
                                            <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%;max-height: 50%;" />
                                                <div class="form-group" ng-bind-html="promotionalHeadline" style="font-size: 20px;"></div>
                                       </div>
                                   </div>
                                </flippy-front>
                                <flippy-back>
                                    <h1 style="text-align: center;">Back</h1>
                                       <div style="height: 340px;border-style: groove; border:black;border-width: thin;">
                                            <div align="center" valign="center" style="background-color:#fff;height:100%;padding: 10px;">
                                                <img ng-src="{{manufacturerImage}}" alt="" style="max-width: 100%; width:100%;max-height: 50%;" />
                                            <div class="form-group" ng-bind-html="promotionalText"></div>
                                                <div class="form-group" ng-bind-html="disclaimer"></div>
                                                <div style="margin-top:85px;" class="form-group" ng-bind-html="operationalDays"></div>
                                          </div>
                                      </div>
                                </flippy-back>
                        </flippy>
                    </div>
                </div>
            </div>
       </div>
</script>
